<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div>
        <h1>Login in into your account</h1>
    <form action="login" method="POST">

        {% for message in messages %}
        <h3 id="msg">{{message}}</h3>
        {% endfor %}


        {% csrf_token %}
        <label>Username</label>
        <input type="text"  placeholder="" name="username">
        <label>Password</label>
        <input type="password" placeholder="" name="password">
        <button type="submit">login </button>
    </form>
    <p>Forgot password? <a href="{% url 'reset_password' %}">click here</a></p>
    <p>Dont have an account? <a href="{% url 'signup' %}">Signup</a></p>
</div>
    
</body>
</html>