<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div>
        <h1>Create account</h1>
    <form action="signup" method="POST">
        {% csrf_token %}

      {% for message in messages %}
      <h2 id="msg">{{message}}</h2>
      {% endfor %}
        <label>Email</label>
        <input type="email" placeholder="" name="email">
        <label>Username</label>
        <input type="text"  placeholder="" name="username">
        <label>Password</label>
        <input type="password" placeholder="" name="password">
        <label for="">Confirm password</label>
        <input type="password" placeholder="" name="password2">
        <button type="submit" > Signup </button>

    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
</body>
</html>